html {
  	 background: url(/fonts/image/fondo_index.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.titulo{
	margin-top: 50px;
	margin-bottom: 50px;
}
.panel-estadisticas{
	margin-top: 50px;
    border-top: 3px solid green;
    border-bottom: 3px double green;
	border-bottom-style: dotted;
	border-top-style: dotted;
}
.buffer{
	margin-right: 100px;
}
.ndp{
	background-color: black;
	color: white;
	text-align: center;
	width: 306px;
}
.stats{
	text-align: center;
}
