html {
  	 background: url(/home/koru/Descargas/yorick-pentakill-league-of-legends-splash-skin-hd-wallpaper.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.titulo{
	color: white;
	font-size: 60px;
    font-family: Orbitron ,sans-serif

}
.panelDer{
	-webkit-column-count:2;
	-moz-column-count:2;
	column-count:2;
	-web-kit-whidth:100px;
	column-whidith: 100px;
	position: absolute; 
	top: 200px; 
	left: 100px;
	width: 500px;	
}
.li{
	display: inline-block;
	float: left;
	width: 128px;
	height: 128px;

}
.panelIzq{
	position: absolute; 
	top: 200px; 
	right: 200px;
}

.jugar{
	color: white;
	font-size: 20px;
    font-family: Orbitron ,sans-serif
}
.boton1{
	height:  30px;
}
.boton2{
	height: 30px;

}
.boton3{
	height: 30px;

}
.boton4{
	height: 30px;
}

.estadisticas{
	height: 250px;
	border-top-style: dotted;
	border-top-color: #00FF00;
	border-bottom-style: dotted;
	border-bottom-color: #00FF00;
}
.estTit{
	color: white;
	font-size: 20px;
    font-family: Orbitron ,sans-serif
}
td{
	color: green;
}
th{
	width: 100px;
	color: white;
	text-align: right;
}
.listaDePersonajes{
   
}