/.ControladorDenuncia.java._trace
/.ControladorJugador.java._trace
/.ControladorTipoDenuncia.java._trace
/ControladorDenuncia.java
/ControladorJugador.java
/ControladorTipoDenuncia.java
/.ControladorEstadisticas.java._trace
/.ControladorPersonaje.java._trace
/.ControladorSeleccionEstadistica.java._trace
/.ControladorDueloDeLeyendas.java._trace
/.ControladorDueloEntreLeyendas.java._trace
/.ControladorUsuario.java._trace
