/.Denuncia.java._trace
/.Jugador.java._trace
/.Estadisticas.java._trace
/.Personaje.java._trace
/.Linea.java._trace
/.Duelo.java._trace
/.ResultadoJugador.java._trace
/.Estadistica.java._trace
/.ResultadoDuelo.java._trace
/.Ganador.java._trace
/.Perdedor.java._trace
/.Empatante.java._trace
